.portfolio{
    display: flex;
    flex-direction: column;
    position: relative;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.heading>:nth-child(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}
.heading>:nth-child(2){
    color: rgb(255, 41, 152);
    font-size: 2.5rem;
    font-weight: bold;
    
}
.portfolio h2{
    margin-bottom: 4rem;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 4rem;
}

.portfolio-container  .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem black;
    overflow: hidden;
    display: flex;
}

.portfolio-box img{
    width: 100%;
    object-fit: cover;
    transition: .5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(149, 222, 66, 0.643),rgb(12, 206, 240));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}

.portfolio-layer h4{
    font-size: 2rem;
    margin-bottom: -0.5rem;
    color: rgb(4, 0, 0);
    font-weight: bold;
}

.portfolio-layer p{
    font-size: 1rem;
    margin: 1rem 0 1rem;
    color: rgb(255, 29, 29);
    font-weight: bold;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    width: 3rem;
    height: 1rem;
    font-weight: bold;
    color: white;
    background:black;

}

@media screen and (max-width: 480px) {
    .portfolio-container{
        grid-template-columns: 1fr;
    }
}