.card2{
    width: 25rem;
    height: 15rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 15rem;
    text-align: center;
    background: rgba(255,255,255,0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 0px 26px 2rem 26px;
}

.card2 span:nth-last-of-type(3){
    color: #f06;
    font-size: 18px;
    font-weight: bold;
}
.card2 span:nth-last-of-type(2){
    color: black;
    font-size: 15px;
    font-weight: bold;
}
.card2 span:nth-last-of-type(1){
    color: aqua;
    font-size: 15px;
    font-weight: bold;
}
.card2>img{
    transform: scale(0.7);
    margin-bottom: -2rem;
}
