.t-wrapper{
    padding: 0 3rem 0 3rem ;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    flex-direction: column;
    gap: 2rem;
    position: relative;
} 
.t-heading{
    align-self: start;
}
.t-heading>*{
    font-size: 2rem;
    font-weight: bold;
}

.t-heading span:nth-of-type(2){
    color: rgb(255, 41, 152);
}

.t-blur1{
    left: 38rem;
    top:24rem;
}
.t-blur2{
    top:10rem;
    left: 7rem;
}

.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    width: 30rem;
    height: 12rem;
    background: rgba(255,255,255,0.26);
    border: 7px solid var(--orangeCard);
    border-radius: 20px;
}

.testimonials img{
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
}

.testimonials>span{
    color: var(--gray);
    font-weight: bold;
}

.t-wrapper .swiper{
    width: 100%;
    height: 70%;
}

.t-wrapper .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .t-wrapper{
        padding: 0;
        height: 40rem;
    }
    .testimonials>img{
        width: 90px;
        height: 90px;
    }
    .t-heading>*{
        margin-left: 2rem;
        font-size: 2rem;
        
    }
}