.toogle{
    display: flex;
    justify-content: space-between;
    border: 3px solid #bc0af2;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
    transform: scale(1.2);
}

.toogle>*{
    width: 1rem;
    height: 1rem;
    color: #bc0af2;
}

.t-button{
    border-radius: 100%;
    background: #bc0af2;
    position: absolute;
}